name: uchicago_30m

on:
    schedule:
        - cron: "25,55 * * * *"

permissions:
    contents: read

jobs:
    ps-indexing:
        runs-on: arc-runner-set-uchicago-alarm-alert-system
        steps:
            - uses: actions/checkout@v6

            - name: execute
              run: ./ps-indexing.sh
              shell: bash
              env:
                  ES_HOST: ${{ secrets.ES_HOST }}
                  ES_USER: ${{ secrets.ES_USER }}
                  ES_PASS: ${{ secrets.ES_PASS }}
            - name: upload log
              if: always()
              uses: actions/upload-artifact@v6
              with:
                  name: ${{ github.job }}-logs
                  path: |
                      ps-indexing.log
